<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule Interview</title>
</head>
<body>
    <main>
        <form class="product-form" action="/query" method="POST">
            <div class="form-control">
                <label for="email">Input email id:</label>
                <input type="text" name="email" id="email"></br>
            </div>
            <button type="submit">Check Interview</button>
        </form>
    </main>
</body>

</html>
