<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule Interview</title>
</head>
<body>
    <main>
		<form action="/upload" enctype="multipart/form-data" method="POST">
			<label for="email">Input email id:</label>
            <input type="text" name="email" id="email"></br>
			<span>Upload CV:</span>  
			<input type="file" name="cv"> <br>
			<input type="submit" value="submit"> 
		</form>
    </main>
</body>

</html>
